* {
  font-family: 'Kanit', sans-serif;
}

body {
  margin: 0px;
  background-color: rgb(53, 0, 0);
  background-image: linear-gradient(rgb(53, 0, 0), rgb(27, 0, 0));
}

h1, h2, h3, h4, h5, h6, p, div {
  color: rgb(255, 255, 255);
}

/* Element importance */
:root {
  --high: rgb(41, 41, 41);
  --medium: rgb(77, 77, 77);
  --low: rgb(146, 146, 146);
  --neutral: rgb(15, 15, 15);
}

.low {
  background-color: var(--low);
}

.medium {
  background-color: var(--medium);
}

.high {
  background-color: var(--high);
}

/*Nav bar*/
#navbar {
  background-color: var(--neutral);
  height: fit-content;
  display: grid;
  grid-template-columns: 3fr repeat(9, 1fr) 3fr;
  grid-column-gap: 10px;
  align-items: center;
  justify-items: center;
}

.nav-item {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 50px;
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 20px;
}

.nav-item:hover {
  background-color: rgb(153, 153, 153);
}

.nav-edge {
  border-radius: 0px;
}

#nav-logo {
  width: 200px;
  height: 60px;
}

#search-div {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
}

#search-div:hover {
  background-color: var(--high);
}

#search-img {
  width: 20px;
  height: 20px;
}

#nav-search {
  height: 100%;
  width: 100%;
  font-size: 20px;
  padding-left: 5px;
  border-radius: 5px;
  border: 0px;
  background-color: var(--high);
}

/* Title container */
/* #container {
  
} */

#title-div {
  display: grid;
  grid-template-columns: 1.5fr 10fr 1.5fr;
  align-items: center;
  justify-items: center;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 50px;
}

.home-title {
  width: fit-content;
  background-color: var(--high);
  margin: 0px;
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#serious-red {
  background-color: var(--low);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
}

/* Recommended articles */
.rec-links {
  display: block;
  text-decoration: none;
}

#rec-article-div {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
}

.prof-and-author {
  display: grid;
  grid-template-columns: 0.25fr 0.4fr 1fr;
  align-items: center;
  justify-items: center;
}

.prof-pic {
  height: 75px;
  width: 75px;
  transform: rotate(-15deg);
  display: block;
  z-index: 10;
}

.prof-pic:hover {
  transform: rotate(0deg);
}

.article-author {
  font-size: 20px;
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--medium);
}

.wrote {
  margin: 0px;
  justify-self: start;
  background-color: var(--low);
  padding: 10px;
  border-radius: 10px;
}

.title-div {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
}

.rec-title {
  font-size: 50px;
  background-color: var(--high);
  width: 80%;
  padding-right: 20px;
  margin: 0px;
}

.l-comment {
  font-size: 16px;
  background-color: var(--low);
  width: fit-content;
  margin: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.l-c-1 {
  position: absolute;
  top: 100px;
  right: 250px;
}

.l-c-2 {
  position: absolute;
  top: 510px;
  right: 200px;
}

.l-c-3 {
  position: absolute;
  top: 955px;
  right: 1250px;
}

.l-c-4 {
  position: absolute;
  top: 955px;
  right: 300px;
}

.tags-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  padding-right: 20px;
}

.tags-div {
  background-color: var(--low);
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 0.1fr;
  margin-top: 20px;
}

.tags {
  margin: 0px;
  margin-top: 10px;
  font-size: 20px;
  justify-self: end;
  align-self: end;
}

.num {
  padding-right: 10px;
  justify-self: start;
  align-self: start;
  margin: 0px;
  margin-top: 8px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
}

.arrow {
  font-size: 25px;
  background-color: var(--low);
  width: fit-content;
  height: fit-content;
  padding: 0 20px 0 20px;
}